/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

body{
  background-image: url(./assests/img-noise-361x370.png);
  /* background-color: #FEFEFE; */

}
/* Container for the entire app */
.container {
  width: 100vw;
  height: 100vh; /* If you want it to take up the full viewport height as well */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; /* Remove any padding if necessary */
  margin: 0 auto; /* Remove any margins if necessary */
}

.app-container{
  /* background-color: #FAF5EE; */
  height: 100%; /* If you want it to take up the full viewport height as well */

}



/* Sidebar styling */
.sidebar {
  width: 250px; /* Fixed width for the sidebar */
  background-color: #333; /* Dark background */
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Main content area */
.main-content {
  flex: 1; /* Takes up the remaining space */
  padding: 20px;
  overflow-y: auto; /* Scroll if content overflows */
  display: flex;
  flex-direction: column; /* Stack header, table, and pagination vertically */
  gap: 20px; /* Space between elements */
}

/* Header styling */
.header {
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Product table styling */
.product-table {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-and-details{
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-details{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Pagination styling */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
